<form class="col-md-6">
  <h3>CREAR UN CONVENIO</h3>
  <div class="form-group col-md-12">
    <label for="formGroup4">Nombre de la entidad</label>
    <input type="text" class="form-control" id="formGroup4" placeholder="Nombre de la institucion">
  </div>
  <div class="form-group col-md-12">
    <label for="formGroup5">Representante de la entidad</label>
    <input type="text" class="form-control" id="formGroup5" placeholder="Nombre del encargo">
  </div>
  <div class="form-group col-md-12">
    <label for="formGroup6">Secciones de trabajo</label>
    <input type="text" class="form-control" id="formGroup6" placeholder="Lugar de trabajo">
  </div>
  <div class="form-group col-md-12">
    <label for="formGroup7">Direccion</label>
    <input type="text" class="form-control" id="formGroup7" placeholder="Direccion de la entidad">
  </div>
  <div class="form-group col-md-12">
    <label for="formGroup8">Telefonos</label>
    <input type="text" class="form-control" id="formGroup8" placeholder="Telefonos de la entidad">
  </div>
  <div class="form-group col-md-12">
    <label for="formGroup9">E-mail</label>
    <input type="text" class="form-control" id="formGroup9" placeholder="E-mail de la entidad">
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary col-md-2">Crear</button>
  </div>
</form>
<form class="col-md-6">
  <h3>
    BUSCAR CONVENIO POR CARRERA
  </h3>
  <div class="form-group col-md-12">
    <label for="exampleFormControlSelect1">Escuela</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>.....</option>
      <option>Gastronomia</option>
      <option>Software</option>
      <option>Produccion</option>
      <option>Nutricion</option>
      <option>Enfermeria</option>
      <option>Derecho</option>
      <option>Administracion</option>
      <option>Cosmetria</option>
      <option>Turismo</option>
    </select>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary col-md-2">Descargar</button>
  </div>
</form>

