<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form action="#" method="get">
        <div class="input-group">
          <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
          <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
          <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
        </div>
      </form>
    </div>
    <div class="col-md-9">
      <table class="table table-list-search">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cedula</th>
          <th>Carrera</th>
          <th>calificacion Practicas 1</th>
          <th>calificacion Practicas 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Joshua</td>
          <td>Guamangallo</td>
          <td>1627392845</td>
          <td>Software</td>
          <td>8.5</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Mariela</td>
          <td>Espinoza</td>
          <td>1284893948</td>
          <td>Nuticion</td>
          <td>....</td>
          <td>....</td>
        </tr>
        <tr>
          <td>Juana</td>
          <td>Jacome</td>
          <td>394892934</td>
          <td>Produccion</td>
          <td>8</td>
          <td>....</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
