<h3 >SEGUIMIENTO DEL ESTUDIANTE</h3>
<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="formGroup1">Nombre del estudiante</label>
      <input type="text" class="form-control" id="formGroup1"  placeholder="Nombre y apellidos">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Cedula del estudiante</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Semestre que cursa">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup3">Calificacion</label>
    <input type="text" class="form-control" id="formGroup3" placeholder="Calificacion para el estudiante">
  </div>
  <div class="form-group col-md-12">
    <label for="exampleFormControlTextarea1">Nota</label>
    <textarea class="form-control col-md-6" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
