<h3 >DATOS DEL ESTUDIANTE</h3>
<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="formGroup1">Nombre</label>
      <input type="text" class="form-control" id="formGroup1"  placeholder="Nombre y apellidos">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlSelect1">Escuela</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>.....</option>
        <option>Gastronomia</option>
        <option>Software</option>
        <option>Produccion</option>
        <option>Nutricion</option>
        <option>Enfermeria</option>
        <option>Derecho</option>
        <option>Administracion</option>
        <option>Cosmetria</option>
        <option>Turismo</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Nivel</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Semestre que cursa">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup2">Área propueesta para las practicas</label>
    <input type="text" class="form-control" id="formGroup2" placeholder="Nombre de la entidad">
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup3">Numero de horas solicitadas</label>
    <input type="text" class="form-control" id="formGroup3" placeholder="Apartment, studio, or floor">
  </div>
</form>


<br>
<h3 >DATOS DE LA ORGANIZACIÓN, ENTIDAD O PERSONA JURÍDICA</h3>
<br>
<form>
  <div class="form-group col-md-6">
    <label for="formGroup4">Razon solcial</label>
    <input type="text" class="form-control" id="formGroup4" placeholder="Objetivo">
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup5">Representante legal</label>
    <input type="text" class="form-control" id="formGroup5" placeholder="Nombre del encargo">
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup6">Area de dedicacion</label>
    <input type="text" class="form-control" id="formGroup6" placeholder="Lugar de trabajo">
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup7">Direccion</label>
    <input type="text" class="form-control" id="formGroup7" placeholder="Direccion de la entidad">
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup8">Telefonos</label>
    <input type="text" class="form-control" id="formGroup8" placeholder="Telefonos de la entidad">
  </div>
  <div class="form-group col-md-6">
    <label for="formGroup9">E-mail</label>
    <input type="text" class="form-control" id="formGroup9" placeholder="E-mail de la entidad">
  </div>
</form>


<br>
<h3>COMPROMISO DEL ESTUDIANTE</h3>
<br>
<form >
  <p aling="justify" class="col-md-12">Me comprometo a cumplir con el Reglamento de Prácticas Pre profesionales de la Universidad, así como los objetivos, actividades, horarios y más responsabilidades exigidas por la organización, entidad o persona jurídica en la que realizaré mis practicas preprofesionales. Mi conducta, en todo momento, será de responsabilidad, honestidad, puntualidad y colaboración.
  </p>
  <div class="form-group col-md-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Acepto
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<br>


